#graduates {
  .heading {
    text-align: center;
    .title-our {
      h2 {
        color: rgb(61, 61, 61);
        font-weight: bold;
        font-size: 50px;
      }
    }
    .title-grads {
      h2 {
        color: rgb(75, 74, 74);
        font-size: 50px;
        font-weight: lighter;
      }
    }
    .line {
      width: 120px;
      border: 2px solid rgb(255, 188, 62);
      margin: 30px auto;
    }
  }
}
.seven-cols {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
.card-item {
  position: relative;
  width: fit-content;
  img {
    width: 150px;
    height: 150px;
  }
  .system {
    @include info(#00b45acc);
  }
  .design {
    @include info(#ffcd05a8);
  }
  .programming {
    @include info(#2382c8);
  }
  .marketing {
    @include info(#87289165);
  }

  &:hover {
    .content {
      visibility: visible;
      transition-delay: 0.3s;
      transform: rotateY(-180deg);
    }
    transform: rotateY(180deg);
    transition: 1s;
  }
}
