@mixin info($ccolor) {
  padding: 10px;
  color: white;
  background-color: $ccolor;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  visibility: hidden;
  font-size: 14px;
}
